@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgba(214, 156, 208, 0.6);
}

.container {
    display: flex;
    position: fixed;
}

.sidebar{
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background-color: whitesmoke;
    position: fixed;
}

.Sign-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
    position: relative;
    top: 20vh;
}

header h3{
    font-size: 35px;
    color: rgba(198, 142, 176, 0.56);
}

.content{
    margin-top: 50px;
}

form .form-control{
    border: none;
    outline: none; 
    background-color: rgba(216, 216, 216, 1);
    height: 40px;
    width: 300px;
    font-weight: 300;
    text-align: center;
    border-radius: 40px;
    color: black;
    margin-top: 10px;
}

form .btn{
    height: 40px;
    width: 300px;
    background-color: rgba(198, 142, 176, 0.56);
    text-align: center;
    color: white;
    border: none;
    border-radius: 40px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

form .btn:hover{
    background-color: rgba(198, 142, 176, 0.87);
}

.forgot-password{
    font-size: 12px;
}

footer{
    margin-top: 40px;
}

footer h4{
    font-size: 15px;
}

.image{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.image-footer{
    margin-left: 10px;
    height: 40px;
    width: 40px;
    background: none;
}


/*  Image */
.image-sidebar {
    margin-left: 400px;
    position: fixed;
    height: 100%;
    width: 100%;
    padding-top: 60px;
    padding-left: 180px;
}

.image-sidebar img {
    height: 700px;
    width: 700px;
    position: relative;
    left: 25vh;
    top: 10vh;
}