@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body { 
    background-color: rgba(123, 203, 193, 0.49);
}

.container{
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
}

.sidebar{
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background-color: whitesmoke;
    position: fixed;
}

.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
    position: relative;
    top: 20vh;
}

header h3{
    font-size: 30px;
    color: rgba(127, 173, 200, 0.65);
}

.content{
    margin-top: 50px;
}

form .form-control{
    border: none;
    outline: none; 
    background-color: rgba(216, 216, 216, 1);
    height: 40px;
    width: 300px;
    font-weight: 300;
    text-align: left;
    padding-left: 20px;
    border-radius: 40px;
    color: #ffff;
    margin-top: 10px;
}

form .btn{
    height: 40px;
    width: 300px;
    background-color: rgba(153, 188, 203, 0.7);
    text-align: center;
    color: white;
    border: none;
    border-radius: 40px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}

form .btn:hover{
    background-color: rgba(153, 188, 203, 0.99);
}

footer{
    margin-top: 40px;
}

footer h4{
    font-size: 15px;
}

.image{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.image-footer{
    margin-left: 10px;
    height: 40px;
    width: 40px;
    background: none;
}

/* image */
.image-sidebar {
    margin-right: 400px;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    padding-left: 150px;
    top:20vh;
}

.image-sidebar img{
    height: 700px;
    width: 700px;
    
}

